/* report.css */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}

header {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

section {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

h2 {
    color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #E7F4FF;
    margin-bottom: 5px;
    padding: 10px;
    border-left: 5px solid #007BFF;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #2e2e2e;
    color: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
